<div class="header-up-text">
    <p class="header_firstline_text"> HELLO, I AM </p>
    <span class="header_twosline_text"> JOHN </span>
    <p class="header_thierdline_text"> SMITH </p>
    <p class="header_lastline_text"> I HAVE MORE THEN 10 YEARS OF EXPERIENCE </p>
    <a class='button download' href="#"> DOWNLOAD CV </a>    
    <div class="container_for_form"><a class="button form_create" href="/create-portfolio">Create Portpholio</a></div>
</div>