<!DOCTYPE html>
<html lang="en">
 <%- include('./modules/head') %>
<body>
    <!-- header  -->
    <div class="loader"></div>
    <%- include('./modules/header') %>

    <div class="content-one">
        <div class="container">
                <div class="container-content-one" id="about">
                    <div class="content-one-text">
                        <h1>JOHN SMITH</h1>
                        <h6>WEB DESIGNER</h6>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!</h6>
                    </div>
                    <div id="content-img" style="text-align: center;"><img src="./materials/Layer_3.png" width="578px" height="578px" alt="your image"></div>
                    <div class="content-graphyc">
                        <h6>design ( 80% )</h6>
                        <h6>photography ( 65% )</h6>
                        <h6>marketing ( 50% )</h6>
                        <h6>branding ( 30% )</h6>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="contacts">
        <div class="container">
            <div id="phone">phone number<br><br>+1 235 464-445<br> +455-587-8790</div>
            <div id="address">address<br><br>consecte adipiing, 39<br>consecte adipiing</div>
            <div id="email">email address<br><br>consecte adipiing@gmail.com<br>consecte adipiing.com</div>
        </div>
    </div>

    <div class="content-two" id="our-services">
        <div class="container">
            <div class="content-two-title"> <h1>OUR SERVICES</h1> <h3>Lorem ipm dolor amet, consecte adipiing lit Sunt  consecte ipm dolor amet, consecte</h3> </div>
            <div class="chain-block">
                <div class="chain-info">
                    <h3>BEST SERVICE</h3>
                    <h6>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</h6>
                </div>
                <div class="chain-info">
                    <h3>BEST SERVICE</h3>
                    <h6>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</h6>
                </div>
                <div class="chain-info">
                    <h3>BEST SERVICE</h3>
                    <h6>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</h6>
                </div>
                <div class="chain-info">
                    <h3>BEST SERVICE</h3>
                    <h6>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</h6>
                </div>
                <div class="chain-info">
                    <h3>BEST SERVICE</h3>
                    <h6>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</h6>
                </div>
                <div class="chain-info">
                    <h3>BEST SERVICE</h3>
                    <h6>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="content-three" >
        <div class="container">
            <div class="content-three-title">testimonials</div>
            <div class="content-three-container">
                <div class="content-three-text"><p>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</p></div>
                <div class="content-three-img"><img src="./materials/Layer_5.png" alt="icon human"></div>
                <div class="content-three-bio"><h1>jon brown</h1> <p>Graphyc Designer</p></div>
            </div>
        </div>
    </div>
    
    <div class="content-fore" id="portfolio">
        <div class="container">
            <div class="content-fore-title"><h1>portfolio</h1><p>Lorem ipm dolor amet, Lorem ipm dolor amet</p></div>
            <div class="content-fore-macket">
                <nav class="navigation">
                    <ul>
                        <li><a href="#" style="color: #a91aef;">ALL</a></li>
                        <li><a href="">PSD DESIGN</a></li>
                        <li><a href="">PRESENTATION</a></li>
                        <li><a href="">WORK IDEAS</a></li>
                        <li><a href="">MOCKUP</a></li>
                        <li><a href="">LOGO</a></li>
                        <li><a href="">ICONS</a></li>
                    </ul>
                </nav>
                <div class="gallery-img">
                    <div class="gallery-img-content"><img src="./materials/Construction-Company-Website-Template-Free-PSD-D.png" alt=""></div>
                    <div class="gallery-img-content"><img src="./materials/Creative-White-Business-Card-Free-PSD.png" alt=""></div>
                    <div class="gallery-img-content"><img src="./materials/Nature-Tri-Fold-Brochure-Template-Free-PSD.png" alt=""></div>
                    <div class="gallery-img-content"><img src="./materials/Professional-Resume-CV-Template-Free-PSD.png" alt=""></div>
                    <div class="gallery-img-content"><img src="./materials/Restaurant-Table-Tent-Template-Free-PSD.png" alt=""></div>
                    <div class="gallery-img-content"><img src="./materials/Summer-Beach-Party-Flyer-Template-Free-PSD.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
                                        <!-- 1200px -->
    <div class="content-five" id="experience">
        <div class="container">
            <div class="content-five-title"><h1>EXPERIENCE</h1><p>Lorem ipm dolor amet, consecte adipiing lit  ipm dolor amet</p></div>
            <div class="container-content-five">
                <div class="block-content-five-one">
                    <div class="five-bio"><h1>PERSONAL ADVISER</h1><h1>2015 - 2016</h1></div>
                    <div class="line-top"></div>
                    <div class="five-text-content"><p>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</p></div>
                </div>
                <div class="block-content-five-one">
                    <div class="five-bio"><h1>PERSONAL ADVISER</h1><h1>2015 - 2016</h1></div>
                    <div class="line-top"></div>
                    <div class="five-text-content"><p>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</p></div>
                </div>
                <div class="block-content-five-one">
                    <div class="five-bio"><h1>PERSONAL ADVISER</h1><h1>2015 - 2016</h1></div>
                    <div class="line-top"></div>
                    <div class="five-text-content"><p>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</p></div>
                </div>
                <div class="block-content-five-one">
                    <div class="five-bio"><h1>PERSONAL ADVISER</h1><h1>2015 - 2016</h1></div>
                    <div class="line-top"></div>
                    <div class="five-text-content"><p>Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores. Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.</p></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-six" id="blog">
        <div class="container">
            <div class="container-six-content">
                <div class="content-six-title"><h1>BLOG</h1><p>Lorem  ipm dolor amet ipm dolor amet, consec consec</p></div>
                <div class="container-six">
                    <div class="content-six-block"><img src="./materials/Layer_6.png" alt=""><p>personal adviser</p><h6>Computer and Using Some Color</h6><p>Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores.</p></div>
                    <div class="content-six-block"><img src="./materials/Layer_7.png" alt=""><p>personal adviser</p><h6>Computer and Using Some Color</h6><p>Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores.</p></div>
                    <div class="content-six-block"><img src="./materials/Layer_8.png" alt=""><p>personal adviser</p><h6>Computer and Using Some Color</h6><p>Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores.</p></div>
                </div>    
                
            </div>
        </div>
    </div>

    <div class="content-seven" id="contact">
        <form id="form" action="">
            <h1>contact us</h1>
            <p>lorem ipsup psss dsads loper idakdada ios dsads loper idak</p>
            <div class="container-form">
                <div class="contain-inputs">
                    <input type="input" name="input-date" value="Name">
                    <input type="input" name="input-phone" value="Phone">
                    <input type="input" name="input-email" value="Email">
                </div>
                <input type="input" name="input-message" value="Message">
                <input type="button" class=button name="button" value="SEND MESSAGE">
            </div>
            
        </form>
    </div>
    <script>
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader");
        
            loader.classList.add("loader--hidden");
        });
    </script>
    <%- include('./modules/footer') %>
</body>
</html>